QDialog, QGroupBox, QTableWidget, QHeaderView,
QHeaderView::section, QTableCornerButton::section,
QWidget#MainWidget {

    color: rgb(0,0,60);
    background-color: qlineargradient(spread:pad, x1:1, y1:1, x2:0, y2:0, stop:0 rgba(87, 87, 147, 255), stop:1 rgba(171, 171, 247, 255));
    padding: 2px 2px 2px 2px;
}

QAbstractScrollArea, QWidget#scrollAreaWidgetContents {

    background-color: transparent;
}

QTableWidget {

    selection-color: rgba(160,160,210,0%);
    selection-background-color: rgba(160,160,210,0%);
    border-style: inset;
    color: rgb(0,0,60);
    border-radius: 4px;
    border-width: 2px;
    border-color: rgb(120, 120, 170);
}

QToolBox {

    color: rgb(0,0,60);
    background: transparent;
    padding: 2px 2px 2px 2px;
}

QToolBox QScrollArea, QToolBox QScrollArea>QWidget, QToolBox QScrollArea>QWidget>QWidget {

    background: transparent;
}

QTabWidget::tab-bar {

    alignment: left;
}

QGroupBox, QTabWidget::pane {

        border-style: inset;
        color: rgb(0,0,60);
        border-radius: 4px;
        border-width: 2px;
        border-color: rgb(120, 120, 170);
        padding: 4px 4px 4px 4px;
}

QLabel#gmeL, QLabel#mv1L, QLabel#mv2L, QLabel#lcL, QLabel#ccL, QLabel#acL {

    border-style: outset;
    color: rgb(0,0,60);
    border-radius: 6px;
    border-width: 5px;
    border-color: rgb(120, 120, 170);
    padding: 4px 4px 4px 4px;
}

QLabel {

        color: rgb(0,0,60);
}

QLabel:disabled {

        color: rgb(90,90,90);
}

QProgressBar {

        color: rgb(0,0,60);
        background-color: rgb(210,210,255);
        border-style: inset;
        border-radius: 4px;
        border-width: 2px;
        border-color: rgb(120, 120, 170);
        padding: 2px 2px 2px 2px;
}

QProgressBar::chunk {

        color: rgb(180,180,210);
        background-color: rgb(120,120,170);
        border-style: outset;
        border-radius: 4px;
        border-width: 2px;
        border-color: rgb(100, 100, 120);
        padding: 2px 2px 2px 2px;
}



QComboBox, QRadioButton, QCheckBox {

        color: rgb(0,0,60);
        background-color: rgb(180, 180, 245);
        border-style: inset;
        border-width: 2px;
        border-radius: 4px;
        border-color: rgb(120, 120, 170);
        margin: 4px;
        padding: 2px 2px 2px 2px;
}

QComboBox::drop-down {

        subcontrol-position: right;
        margin: 2px;
        color: rgb(0,0,60);
        background-color: rgb(120, 120, 170);
        border-style: outset;
        border-width: 2px;
        border-top-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-color: rgb(100, 100, 120);
        padding: 2px 2px 2px 2px;
}

QComboBox:hover, QPushButton:hover, QRadioButton:hover,
QCheckBox:hover, QTabBar::tab:hover, QToolBox::tab:hover,
QToolButton:hover {

        background-color: rgb(180, 180, 210);
}

QSpinBox::up-button:hover,
QPushButton#addNPCPB:hover,
QPushButton#addThreadPB:hover,
QPushButton#addPlayerCharacterPB:hover,
QPushButton#addPersonalNPCPB:hover,
QPushButton#addPersonalThreadPB:hover,
QPushButton#addRegionPB:hover,
QPushButton#addLocationPB:hover,
QPushButton#addEncounterPB:hover,
QPushButton#addObjectPB:hover,
QPushButton#nextScenePB:hover,
QPushButton#generateBackstoryPB:hover,
QPushButton#createRegionScenePB:hover {

        background-color: rgb(180, 230, 210);
}

QPushButton#renameNPCPB:hover,
QPushButton#renameThreadPB:hover,
QPushButton#renamePlayerCharacterPB:hover,
QPushButton#renamePersonalNPCPB:hover,
QPushButton#renamePersonalThreadPB:hover,
QPushButton#renameRegionPB:hover,
QPushButton#renameScenePB:hover,
QPushButton#renameAdventurePB:hover,
QPushButton#changeRPGSystemPB:hover {

        background-color: rgb(210, 210, 180);
}

QSpinBox::down-button:hover,
QPushButton#removeNPCPB:hover,
QPushButton#removeThreadPB:hover,
QPushButton#removePlayerCharacterPB:hover,
QPushButton#removePersonalNPCPB:hover,
QPushButton#removePersonalThreadPB:hover,
QPushButton#removeRegionPB:hover,
QPushButton#removeLocationPB:hover,
QPushButton#removeEncounterPB:hover,
QPushButton#removeObjectPB:hover,
QPushButton#leaveRegionPB:hover {

        background-color: rgb(230, 180, 210);
}

QLineEdit, QSpinBox {

        color: rgb(0,0,60);
        background-color: rgb(180, 180, 245);
        border-style: inset;
        border-width: 2px;
        border-radius: 4px;
        border-color: rgb(120, 120, 170);
        margin: 4px;
        padding: 2px 2px 2px 2px;
}

QListView, QTreeView, QColumnView, QMenu {

        color: rgb(0,0,60);
        background-color: rgb(180, 180, 245);
        border-width: 2px;
        border-radius: 4px;
        border-color: rgb(120, 120, 170);
}

QListView, QColumnView {

        border-style: inset;
}

QMenu {

        border-style: outset;
}

QComboBox QListView {

        color: rgb(0,0,60);
        background-color: rgb(180, 180, 245);
        border-style: inset;
        border-width: 2px;
        border-color: rgb(120, 120, 170);
}

QLineEdit[readOnly="true"],
QPlainTextEdit[readOnly="true"] {

        background-color: rgb(180, 180, 220);
}

QPlainTextEdit {

        color: rgb(0,0,60);
        background-color: rgb(180, 180, 245);
        border-style: inset;
        border-width: 2px;
        border-radius: 4px;
        border-color: rgb(120, 120, 170);
}

QTextEdit {

        color: rgb(0,0,60);
        background-color: rgb(190, 190, 235);
        border-style: inset;
        border-width: 2px;
        border-radius: 4px;
        border-color: rgb(120, 120, 170);
}


QPushButton,
QToolButton,
QTabBar::tab,
QToolBox::tab,
QSpinBox::up-button,
QSpinBox::down-button,
QHeaderView::section {

        color: rgb(0,0,60);
        background-color: rgb(120, 120, 170);
        border-style: outset;
        border-width: 2px;
        border-radius: 4px;
        border-color: rgb(100, 100, 120);
        padding: 4px 4px 4px 4px;
}

QSpinBox::up-button,
QPushButton#addNPCPB,
QPushButton#addThreadPB,
QPushButton#addPlayerCharacterPB,
QPushButton#addPersonalNPCPB,
QPushButton#addPersonalThreadPB,
QPushButton#addRegionPB,
QPushButton#addLocationPB,
QPushButton#addEncounterPB,
QPushButton#addObjectPB,
QPushButton#nextScenePB,
QPushButton#generateBackstoryPB,
QPushButton#createRegionScenePB {

       background-color: rgb(120, 170, 170);
       border-color: rgb(100, 100, 120);
}

QSpinBox::up-button:pressed,
QPushButton#addNPCPB:pressed,
QPushButton#addThreadPB:pressed,
QPushButton#addPlayerCharacterPB:pressed,
QPushButton#addPersonalNPCPB:pressed,
QPushButton#addPersonalThreadPB:pressed,
QPushButton#addRegionPB:pressed,
QPushButton#addLocationPB:pressed,
QPushButton#addEncounterPB:pressed,
QPushButton#addObjectPB:pressed,
QPushButton#nextScenePB:pressed,
QPushButton#generateBackstoryPB:pressed,
QPushButton#createRegionScenePB:pressed {

       background-color: rgb(110, 160, 160);
}

QPushButton#renameNPCPB,
QPushButton#renameThreadPB,
QPushButton#renamePlayerCharacterPB,
QPushButton#renamePersonalNPCPB,
QPushButton#renamePersonalThreadPB,
QPushButton#renameRegionPB,
QPushButton#renameScenePB,
QPushButton#renameAdventurePB,
QPushButton#changeRPGSystemPB {

       background-color: rgb(170, 170, 120);
       border-color: rgb(100, 100, 120);
}

QPushButton#renameNPCPB:pressed,
QPushButton#renameThreadPB:pressed,
QPushButton#renamePlayerCharacterPB:pressed,
QPushButton#renamePersonalNPCPB:pressed,
QPushButton#renamePersonalThreadPB:pressed,
QPushButton#renameRegionPB:pressed,
QPushButton#renameScenePB:pressed,
QPushButton#renameAdventurePB:pressed,
QPushButton#changeRPGSystemPB:pressed {

       background-color: rgb(160, 160, 110);
}

QSpinBox::down-button,
QPushButton#removeNPCPB,
QPushButton#removeThreadPB,
QPushButton#removePlayerCharacterPB,
QPushButton#removePersonalNPCPB,
QPushButton#removePersonalThreadPB,
QPushButton#removeRegionPB,
QPushButton#removeLocationPB,
QPushButton#removeEncounterPB,
QPushButton#removeObjectPB,
QPushButton#leaveRegionPB {

       background-color: rgb(170, 120, 170);
       border-color: rgb(100, 100, 120);
}

QSpinBox::down-button:pressed,
QPushButton#removeNPCPB:pressed,
QPushButton#removeThreadPB:pressed,
QPushButton#removePlayerCharacterPB:pressed,
QPushButton#removePersonalNPCPB:pressed,
QPushButton#removePersonalThreadPB:pressed,
QPushButton#removeRegionPB:pressed,
QPushButton#removeLocationPB:pressed,
QPushButton#removeEncounterPB:pressed,
QPushButton#removeObjectPB:pressed,
QPushButton#leaveRegionPB:pressed {

       background-color: rgb(160, 110, 160);
}

QPushButton:pressed,
QToolButton:pressed,
QPushButton:checked,
QToolButton:checked,
QTabBar::tab:selected,
QToolBox::tab:selected,
QSpinBox::up-button:pressed,
QSpinBox::down-button:pressed {

        background-color: rgb(110, 110, 160);
        border-style: inset;
}

QSpinBox::up-button:pressed {

        background-color: rgb(110, 160, 125);
}

QSpinBox::down-button:pressed {

        background-color: rgb(160, 110, 125);
}

QSlider::groove:horizontal {

        border: 1px solid #bbb;
        background: white;
        height: 14px;
        border-radius: 4px;
}

QSlider::sub-page:horizontal {

        background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #66e, stop: 1 #bbf);
        background: qlineargradient(x1: 0, y1: 0.2, x2: 1, y2: 1, stop: 0 #bbf, stop: 1 #55f);
        border: 1px solid #777;
        height: 14px;
        border-radius: 4px;
}

QSlider::add-page:horizontal {

        background: #fff;
        border: 1px solid #777;
        height: 14px;
        border-radius: 4px;
}

QSlider::handle:horizontal {

        background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #eee, stop:1 #ccc);
        border: 1px solid #777;
        width: 32px;
        margin-top: -2px;
        margin-bottom: -2px;
        border-radius: 4px;
}

QSlider::handle:horizontal:hover {

        background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #fff, stop:1 #ddd);
        border: 1px solid #444;
        border-radius: 4px;
}

QSlider::sub-page:horizontal:disabled {

        background: #bbb;
        border-color: #999;
}

QSlider::add-page:horizontal:disabled {

        background: #eee;
        border-color: #999;
}

QSlider::handle:horizontal:disabled {

        background: #eee;
        border: 1px solid #aaa;
        border-radius: 4px;
}

QScrollBar:vertical, QScrollBar:horizontal {
        color: rgb(0,0,60);
        background-color: rgb(120, 120, 170);
        border-style: groove;
        border-width: 2px;
        border-radius: 4px;
        border-color: rgb(100, 100, 120);
        min-height: 0px;
        min-width: 0px;
        padding: 2px 2px 2px 2px;
        subcontrol-origin: margin;
}

QScrollBar::handle:vertical, QScrollBar::handle:horizontal {
        color: rgb(0,0,60);
        background-color: rgb(120, 120, 170);
        border-style: outset;
        border-width: 2px;
        border-radius: 4px;
        border-color: rgb(100, 100, 120);
        min-height: 0px;
        min-width: 20px;
        padding: 4px 4px 4px 4px;
}

QScrollBar::add-line:vertical, QScrollBar::add-line:horizontal {
        color: rgb(0,0,60);
        background-color: rgb(120, 120, 170);
        border-style: outset;
        border-width: 2px;
        border-radius: 4px;
        border-color: rgb(100, 100, 120);
        subcontrol-position: bottom;
        subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical, QScrollBar::sub-line:horizontal {
        color: rgb(0,0,60);
        background-color: rgb(120, 120, 170);
        border-style: outset;
        border-width: 2px;
        border-radius: 4px;
        border-color: rgb(100, 100, 120);
        subcontrol-position: top;
        subcontrol-origin: margin;
}

QScrollBar::sub-page:vertical, QScrollBar::sub-page:horizontal {
    background-color: rgb(120, 170, 170);
}

QScrollBar::add-page:vertical, QScrollBar::add-page:horizontal {
    background-color: rgb(170, 120, 170);
}

QLineEdit:disabled,
QComboBox:disabled,
QPushButton:disabled,
QToolButton:disabled,
QSpinBox:disabled,
QListView:disabled,
QPlainTextEdit:disabled,
QTextEdit:disabled,
QCheckBox:disabled,
QProgressBar:disabled,
QRadioButton:disabled,
QMenu:disabled,
QTabBar::tab:disabled,
QToolBox::tab:disabled {

        color:rgb(90,90,90);
        background-color:rgb(160,160,210);
}

QCheckBox:disabled:checked {

        color:rgb(90,90,90);
        background-color:rgb(160,160,235);
}
